.controls {
    width: 100%;
    height: 40px;
    position: relative;
  }

.progress {
    position: relative;
    display: flex;
    width: 100%;
    height: 20px;
    background: #c33aed;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.progress-bar {
    width: 0;
    background: #8b28a9;
}