#HCB_comment_box {
    margin: 0% 10%;
    font-family: 'OpenDyslexic' !important;
    position: relative;
    top: -25px;
}

#HCB_comment_form_box {
    background: #4803ad;
    border-radius: 7px 7px 0px 0px;
    padding: 6px !important;
}

#HCB_comment_box #hcb_form textarea :not(#hcb_form_content), #HCB_comment_box #hcb_form #hcb_form_name_container {
    margin-bottom: 0px !important;
}

#HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name {
    font-family: 'OpenDyslexic' !important;
    padding: 0px !important;
}

.input-field {
    width: calc(100% - 4px);
}

#hcb_form_name {
    height: 18px;
    width: 100%;
}

#hcb_form_website {
    height: 18.4px;
    width: 100%;
    padding: 0px;
    margin-bottom: 6.5px;
}

#hcb_form_content {
    height: 81.5px;
    margin-bottom: 6.5px !important;
}

div:has(> .admin-link) {
    width: 27px;
    height: 27px;
    position: relative;
    top: 7px;
}

.home-desc {
    display: none !important;
}

.comment {
    background: #22222222;
    margin-bottom: 5px !important;
    word-wrap: anywhere;
    border-radius: 7px;
}

#comments_list {
    padding: 0px 5px !important;
    background: #4803ad;
    border-radius: 0px 0px 7px 7px;
    position: relative;
    top: -1px;
}

#no_comments {
    text-align: center;
}

#HCB_comment_box h3 {
    height: 30px;
    margin: 0px 0px 3px !important;
    overflow: hidden;
}

#HCB_comment_box h3::before {
    content: 'Guest book:';
    display: block;
}

#hcb_submit {
    border-radius: 7px;
    border: 0px !important;
    background-color: #5a00dd !important;
    color: #ff00e3 !important;
    cursor: pointer;
}

.btn-secondary {
    border: 0px !important;
    background-color: #5a00dd !important;
    cursor: pointer;
    border-radius: 7px;
    color: #ff00e3 !important;
}

.hcb-comment-body, .author, .likes {
    color: #85fff9;
}

#HCB_comment_box:has(button.btn-secondary) > p:not(:has(.hcb-link)) {
    margin: -10px 0px 0px;
    height: 28px;
    overflow: hidden;
}

#HCB_comment_box:has(button.btn-secondary) > p:not(:has(.hcb-link))::before {
    content: 'Thx for writing something in the guest book <3';
    display: block;
}

#HCB_comment_box:not(:has(button.btn-secondary)) > p:not(:has(.hcb-link)) {
    display: none;
}

#HCB_comment_form_box button.btn-secondary {
    display: block;
    width: 164px;
    height: 37px;
    overflow: hidden;
    line-height: 22px;
}

#HCB_comment_form_box button.btn-secondary::before {
    content: 'Write more stuff :3 ';
    top: -2px;
    position: relative;
}

blockquote {
    margin: 0px !important;
}

p:has(.hcb-link) {
    margin: 0px 5px !important;
}

#HCB_comment_box::before {
    content: ', leave blank to remain anonomous';
    position: relative;
    top: 66px;
    left: 48px;
    color: #757575;
    pointer-events: none;
    font-size: 14px;}

#HCB_comment_box:has(#hcb_form_name:not(:placeholder-shown))::before, #HCB_comment_box:has(button.btn-secondary)::before {
    visibility: hidden;
}