body {
    max-width: 1500px;
    margin: auto;
}

.top_bar {
    max-width: 1200px;
    margin: auto;
}

.top_bar, .main_box, .bottom_bar {
    text-align: center;
}

.nav_bar li {
    display: inline-block;
    list-style-type: none;
}