body {
    max-width: 1500px;
    margin: auto;
}

.top_bar {
    max-width: 1200px;
    margin: auto;
}

.title, .nav_bar, .main_box, .main_box h2, .main_box p, .bottom_bar {
    margin: auto;
}

.nav_bar li {
    display: inline-block;
    list-style-type: none;
}