@media (max-width: 1000px) {
    /* For mobile phones: */
    body {
      font-size: 40px !important;
    }

    .mark {
        border-bottom: 2px solid #000 !important;
        top: -33px !important;
    }
    
    .offsetMark {
        top: 33px !important;
    }

    .sidebar a, .openNav {
        font-size: 100px !important;
    }

    .closebtn {
        font-size: 72px !important;
        padding: 5px 50px 5px 50px !important;
    }

    .bottom_bar, .sources {
        font-size: 25px !important;
    }

    .footnote {
        font-size: 30px !important;
        bottom: 25px !important;
    }

    .top_bar {
        width: 75% !important;
    }

    .links {
        top: 125px !important;
    }

    .soc_btn, .theme_btn {
        font-size: 55px !important;
    }

    .theme_list li {
        width: 100%;
    }

    .twothemes {
        width: fit-content !important;
    }

    .theme_btn {
        width: 96% !important;
    }

    .sources {
        margin-top: 100px !important;
    }

    .controls {
        font-size: 32px !important;
        height: 80px !important;
    }

    .controls button {
        width: 48px !important;
        height: 48px !important;
    }

    .controls button i {
        scale: 2 !important;
    }

    .play {
        margin: 16px 5px 16px 5px !important;
    }

    .volume, .volume-container {
        display: none !important;
    }

    .mute {
        margin: 16px 15px !important;
    }

    .progress {
        height: 40px !important;
        margin: 20px 0px 20px 5px !important;
    }

    .time {
        width: 200px !important;
        margin: 12px 0px 12px 10px !important;
    }

    .sources {
        right: 0px !important;
    }

    .sources li {
        left: 10px !important;
    }

    .sources p {
        right: 0px !important;
    }

    #HCB_comment_box h3 {
        margin: 5px 0px 50px !important;
    }

    #HCB_comment_box #hcb_form textarea, #HCB_comment_box #hcb_form #hcb_form_name, #hcb_submit, #hcb_file_label a {
        font-size: 35px !important;
    }
    
    #hcb_form_name {
        height: 60px;
    }

    #hcb_form_content {
        height: 245.5px !important;
    }

    div:has(> .admin-link) {
        width: 48px !important;
        height: 48px !important;
    }

    .admin-link {
        width: 50px !important;
        top: 12px !important;
    }
}
