@media (max-width: 1350px) {
    /* For mobile phones: */
    body {
      font-size: 40px !important;
    }

    audio {
        display: none;
    }

    .mark {
        border-bottom: 2px solid #000;
        top: -33px !important;
    }
    
    .offsetMark {
        top: 33px !important;
    }

    .sidebar a, .openNav {
        font-size: 100px !important;
    }

    .closebtn {
        font-size: 72px !important;
        padding: 5px 50px 5px 50px !important;
    }

    .bottom_bar, .sources {
        font-size: 25px !important;
    }

    .footnote {
        font-size: 30px;
        bottom: 25px;
    }

    .top_bar {
        width: 75% !important;
    }

    .links {
        top: 125px !important;
    }

    .soc_btn, .theme_btn {
        font-size: 55px !important;
    }

    .twothemes {
        width: fit-content;
    }
}