.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a:not(.closebtn) {
    padding: 8px 8px 8px 32px;
    border-bottom: solid 3px rgba(93, 2, 157, 1);
}
  
.sidebar a:hover {
    color: #f1f1f1;
}

.links {
    top: 13px;
    position: relative;
    padding-bottom: 75px;
}

.openNav {
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    left: 0.65%;
    top: 50px;
    height: 50px;
    overflow: hidden;
}

.openNav p {
    position: relative;
    top: -12px;
    margin: 0px !important;
}
  
.closebtn {
    position: absolute;
    padding: 5px 25px 5px 25px;
    top: 0;
    right: 0px;
    font-size: 36px !important;
    margin-left: 50px;
}
